<h3>Feedback Form</h3>

<form action="Student/AddFeedback" method="Post">
<table border="3">
<tb>
<tr> <td>Sr no: </td> <td><input type="number" name="srno" id="srno" /></td> </tr>
<tr> <td>Date: </td> <td><input type="Date" name="d" id="d" /></td> </tr>
<tr> <td>Student name: </td> <td><input type="text" name="stdname" id="stdname" /></td> </tr>
<tr> <td>Topic name: </td> <td><input type="text" name="tname" id="tname" /> </td> </tr>
<tr> <td>Module: </td> <td><input type="text" name="module" id="module" /></td> </tr>
<tr> <td>faculty name: </td> <td><input type="text" name="faculty" id="faculty" /></td> </tr>
<tr> <td>Problem Solving Rating: </td> <td><input type="number" name="psr" id="psr" /></td> </tr>
<tr> <td>Presentation Skills: </td> <td><input type="number" name="ps" id="ps" /></td> </tr>
<tr> <td>Comment: </td> <td><input type="text" name="comment" id="comment" /></td> </tr>
<tr > <td></td> <td><button type="submit">Submit</button></td> </tr>
</tb>
</table>
</form>
